@font-face {
  font-family: "Druk Wide Web";
  src: url(./fonts/Druk\ Wide\ Web.ttf);
}

@font-face {
  font-family: "akzidenz-grotesk";
  src: url(./fonts/akzidenz-grotesk.otf);
}

body {
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.App {
  text-align: center;
}
h1, h2 {
  font-family: Druk Wide Web;
  margin: 0;
  font-size: 2.5em;
}

#desarrollador {
  width: 0px;
  height: 0px;
  top: 150px;
  left: 150px;
  border-bottom: none ;
  border-right: none;
  transform-origin: bottom left 60px;
  animation: alto 1.5s 0.3s ease-in-out forwards, ancho 1s 1.6s ease-in-out forwards;
}

@keyframes alto {
  to {
    height: 320px;
    top: -170px;
  }
}

@keyframes ancho {
  to {
    width: 220px;
  }
}

#desarrollador > p {
  font-size: 20px;
  position: absolute;
  top: -35px;
  left: 230px;
  white-space: nowrap;
  background-color: #10131A;
  opacity: 0;
  animation: visible 0.2s 2.3s forwards;
}


@keyframes visible { 
  to {
    opacity: 1;
  }
}

#desarrollador > p::after {
  content: '';
  position: absolute;
  background-color: #10131A;
  width: 100%;
  height: 100%;
  left: 0;
  display: inline;
  border-left: solid 10px #fff;
  animation: aparecer 1.4s 2.3s forwards;
}


@keyframes aparecer {
  80% {
    width: 0%;
    left: 100%;
    border-left: solid 10px #fff;
  }
  100% {
    width: 0%;
    left: 100%;
    border: none;
  }
}

@media (max-width: 1050px) {
  #desarrollador > p { 
    font-size: 17px;
    padding: 3px;
    top: 54px;
    left: -165px;
    z-index: 3;
  }
}

#boton {
  top: 210px;
  left: -70px;
  background-color: #10131A;
  color: #fff;
  width: 150px;
  border: 2px solid #fff;
  z-index: 2;
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  white-space: nowrap;
  text-indent: 15px;
}

#boton > p::after { 
  content: 'DESCARGAR CV';
  margin-left: 20px;
}

#boton:hover > p, #boton:hover > p::after {
  animation: descargar 0.8s linear infinite;
}

#boton:hover {
  font-weight: 900;
  border: 2px solid #61dafb;
}

#boton:active {
  color: #10131A;
  background-color: #fff;
}

@keyframes descargar {
  from {

    transform: translateX(0px);
  }
  to {
    transform: translateX(-125px);
  }
}

#tecnico {
  width: 0px;
  height: 0px;
  top: -150px;
  right: 150px;
  border-top: none;
  border-left: none;
  animation: altot 1.5s 0.2s ease-in-out forwards, anchot 1s 1.5s ease-in-out forwards;
}



@keyframes altot {
  to {
    height: 270px;
  }
}

@keyframes anchot {
  to {
    width: 140px;
  }
}

#tecnico > p {
  font-size: 20px;
  position: absolute;
  top: 237px;
  right: 150px;
  opacity: 0;
  white-space: nowrap;
  background-color: #10131A;
  animation: visible 0.2s 2.5s forwards;
}

#tecnico > p::after {
  content: '';
  position: absolute;
  background-color: #10131A;
  width: 100%;
  height: 100%;
  right: 0;
  display: inline;
  border-right: solid 10px #fff;
  animation: aparecerd 1.2s 2.7s forwards;
}

@keyframes aparecerd {
  80% {
    width: 0%;
    right: 100%;
    border-right: solid 10px #fff;
  }
  100% {
    width: 0%;
    right: 100%;
    border: none;
  }
}

@keyframes parpadeo {
  60% {
    opacity: 0;
  }
  65%{
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  90%{
    opacity: 1;
  }
  95%{
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (max-width: 900px) {
  #tecnico > p { 
    font-size: 17px;
    padding: 4px;
    top: 200px;
    left: 150px;
    z-index: 2;
    width: 100%;
  }
}



h2 {
  font-size: 50px;
}


a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}


p, a, button {
  font-family: "akzidenz-grotesk";
}

canvas {
  position: absolute;
  z-index: 0;
  top: -400px;
  left: -50px;
}

.App-header {
  background-color: #10131A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#downloaded {
  display: none;
}

#liked {
  display: none;
}
.geometria {
  border: solid 3px #fff;
  position: absolute;
}

#figuras {
  position: absolute;
  margin: auto;
  z-index: 0;
}

#nombre {
  background-color: #10131A;
  z-index: 3;
  padding: 10px 10px 0px 10px;
}

#circulo {
  width: 550px;
  height: 550px;
  border-radius: 50%;
  top: -220px;
  left: -550px;
  opacity: 0;
  z-index: 1;
  animation: parpadeo 0.8s 1.6s forwards;
}

#circulo2 {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  top: -300px;
  left: -400px;
  border: dashed;
  z-index: 0;
  opacity: 0.5;
  animation: parpadeo 0.8s 1.8s forwards;
}

#circulo2::before {
  content: "";
  width: 200px;
  height: 100%;
  background-color: #10131A;
  position: absolute;
  left: -10px;

}

#rectangulom{
  width: 0px;
  border-top: none;
  left: -400px;
  animation: anchorm 1s 0.3s ease-in-out forwards;
}

@keyframes anchorm {
  to {
    width: 800px;
  }
}

#rectangulom::after {
  content: "";
  width: 0px;
  border: 3px dashed #fff;
  border-top: none;
  position: absolute;
  right: 0px;
  animation: anchorma 1s 1s ease-in-out forwards;
}

@keyframes anchorma {
  to {
    width: 80px;
    right: -75px;
  }
}


#rectangulo{
  height: 0px;
  border: 3px dashed #fff;
  border-right: none;
  top: -150px;
  left: 90px;
  animation: altorec 1.2s 1.5s ease-in-out forwards;
}

@keyframes altorec {
  to {
    height: 300px;
  }
}

footer {
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  left: 50px;
  text-align: left;
}

footer > a {
  position: relative;
  text-decoration: none;
  color: #fff;
}

footer > a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition: 0.3s ease-out;
}

footer > a:hover::before {
  width: 100%;
}


.indent {
  margin-left: 20px;
  white-space: nowrap;
}

#info {
  position: absolute;
  top: 280px;
  left: -83px;
  display: flex;
  font-size: medium;
  align-items: center;
}

#info > a {
  margin: 6px 10px 0px 20px;
}

#info svg:hover {
    
    color: #61dafb;
    transform: scale(1.2);
}

@media (max-width: 720px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.8em;
  }
  footer {
    left: 10px;
    bottom: 5px;
  }
}

@media (max-width: 500px) { 
  #boton {
    top: 160px; 
  }
  #info {
    top: 235px; 
  }
}